/.vscode/
src/.vscode/
src/wingetui-old-project/__pycache__
src/wingetui-old-project/lang/__pycache__/*
src/wingetui-old-project/build/
src/wingetui-old-project/dist/
src/wingetui-old-project/winget-cli.1.2.0/
"WingetUI Store.exe"
WingetUI Store Installer.exe
WingetUI Installer.exe
WingetUI Store.exe
WingetUI.exe
installer.iss
Output/
*.old
vcredist.exe
wingetuiBin/
wingetui_bin/
wingetuiBin.zip
APIKEY.txt
*.pyc
WebBasedData/screenshot_database.xlsx
WebBasedData/screenshot-database.json.backup
*.log
wingetui/wingettest.py
*.nupkg

wui-1.7.0-console.zip
wui1.7.0-debug2.zip
env/
.vs/*
dllexp.exe
sign.cmd.lnk
src/packages/

src/wingetui/bin
src/wingetui/obj
src/.vs
src/.vscode
new-names.docx

src/wingetui/choco-cli/logs/choco.summary.log
src/wingetui/choco-cli/logs/chocolatey.log
src/wingetui/choco-cli/.chocolatey/Sudo.1.1.3/.arguments
src/wingetui/choco-cli/.chocolatey/Sudo.1.1.3/.files
src/wingetui/choco-cli/lib/*
src/wingetui/choco-cli/lib-bad/*
src/wingetui/choco-cli/lib-bad/elevenclock/.chocolateyPending
src/wingetui/choco-cli/lib-bad/elevenclock/tools/chocolateyinstall.ps1
src/wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.files
src/wingetui/choco-cli/lib/elevenclock/tools/chocolateyuninstall.ps1
src/wingetui/choco-cli/lib/elevenclock/tools/chocolateyinstall.ps1
src/wingetui/choco-cli/lib/elevenclock/elevenclock.nuspec
src/wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.silentUninstaller
src/wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.registry
src/wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.arguments
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Remove-Process.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Register-Application.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Get-WebContent.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Get-PackageCacheLocation.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Get-EffectiveProxy.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Get-AvailableDriveLetter.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/Get-AppInstallLocation.ps1
src/wingetui/choco-cli/lib/chocolatey-core.extension/extensions/chocolatey-core.psm1
src/wingetui/choco-cli/lib/chocolatey-core.extension/chocolatey-core.extension.nuspec
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/helpers/Write-FileUpdateLog.ps1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/helpers/Write-ChocolateySuccess.ps1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/helpers/Write-ChocolateyFailure.ps1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/helpers/Install-ChocolateyDesktopLink.ps1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/helpers/Get-UninstallRegistryKey.ps1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/helpers/Get-PackageParameters.ps1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/extensions/chocolatey-compatibility.psm1
src/wingetui/choco-cli/lib/chocolatey-compatibility.extension/chocolatey-compatibility.extension.nuspec
src/wingetui/choco-cli/lib-bad/vlc-nightly/vlc-nightly.nuspec
src/wingetui/choco-cli/lib-bad/vlc-nightly/tools/vlc-4.0.0-dev-win64-9ac09bf5_x64.exe
src/wingetui/choco-cli/lib-bad/vlc-nightly/tools/chocolateyuninstall.ps1
src/wingetui/choco-cli/lib-bad/vlc-nightly/tools/chocolateyinstall.ps1
src/wingetui/choco-cli/lib-bad/vlc-nightly/legal/VERIFICATION.txt
src/wingetui/choco-cli/lib-bad/vlc-nightly/legal/LICENSE.txt
src/wingetui/choco-cli/lib-bad/vlc-nightly/.chocolateyPending
src/wingetui/choco-cli/extensions/chocolatey-core/Remove-Process.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/Register-Application.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/Get-WebContent.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/Get-PackageCacheLocation.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/Get-EffectiveProxy.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/Get-AvailableDriveLetter.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/Get-AppInstallLocation.ps1
src/wingetui/choco-cli/extensions/chocolatey-core/chocolatey-core.psm1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/helpers/Write-FileUpdateLog.ps1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/helpers/Write-ChocolateySuccess.ps1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/helpers/Write-ChocolateyFailure.ps1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/helpers/Install-ChocolateyDesktopLink.ps1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/helpers/Get-UninstallRegistryKey.ps1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/helpers/Get-PackageParameters.ps1
src/wingetui/choco-cli/extensions/chocolatey-compatibility/chocolatey-compatibility.psm1
src/wingetui/choco-cli/lib-bkp
src/wingetui/choco-cli/.chocolatey
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/Test-WindowsUpdate.ps1
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/Install-WindowsUpdate.ps1
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/Install-ChocolateyPackageAndHandleExitCode.ps1
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/Get-WindowsUpdateErrorDescription.ps1
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/Get-NativeInstallerExitCode.ps1
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/chocolatey-windowsupdate.psm1
src/wingetui/choco-cli/extensions/chocolatey-windowsupdate/Set-PowerShellExitCode.ps1
src/wingetui/choco-cli/bin/chocolatey.exe
src/wingetui/choco-cli/redirects/chocolatey.exe
src/wingetui/choco-cli/redirects/chocolatey.exe.ignore
src/wingetui/choco-cli/redirects/cinst.exe
src/wingetui/choco-cli/redirects/cinst.exe.ignore
src/wingetui/choco-cli/redirects/clist.exe
src/wingetui/choco-cli/redirects/clist.exe.ignore
src/wingetui/choco-cli/redirects/cpush.exe
src/wingetui/choco-cli/redirects/cpush.exe.ignore
src/wingetui/choco-cli/redirects/cuninst.exe
src/wingetui/choco-cli/redirects/cuninst.exe.ignore
src/wingetui/choco-cli/redirects/cup.exe
src/wingetui/choco-cli/redirects/cup.exe.ignore
src/wingetui/choco-cli/bin/ssh-copy-id.exe
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Wait-VSInstallerProcesses.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Update-AdminFile.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Uninstall-VSChocolateyPackage.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Uninstall-VisualStudioVsixExtension.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Uninstall-VisualStudio.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Start-VSServicingOperation.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Start-VSModifyOperation.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Start-VSChocolateyProcessAsAdmin.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Show-VSInstallerErrorLog.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Set-PowerShellExitCode.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Resolve-VSProductInstance.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Resolve-VSLayoutPath.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Remove-VSPackageParametersNotPassedToNativeInstaller.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Remove-VisualStudioWorkload.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Remove-VisualStudioProduct.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Remove-VisualStudioComponent.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Remove-NegatedArguments.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Parse-Parameters.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Open-VSInstallSource.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/New-VSProductReference.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/New-VSChannelReference.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Merge-AdditionalArguments.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Install-VSInstaller.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Install-VSChocolateyPackage.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Install-VSChocolateyInstallPackage.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Install-VisualStudioVsixExtension.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Install-VisualStudioInstaller.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Install-VisualStudio.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-WillowInstalledProducts.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSWebFile.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSUninstallRegistryKey.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSUninstallerExePath.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSRequiredInstallerVersion.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSProductVersionFromChannelManifest.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSProductReference.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSManifest.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSLegacyInstance.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSComponentManifest.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSChannelUri.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSChannelReference.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSChannelManifestItemVersion.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSChannelManifestItemUrl.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSChannelManifestItem.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSChannelManifest.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VSBootstrapperUrlFromChannelManifest.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VisualStudioVsixInstaller.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VisualStudioInstance.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VisualStudioInstallerHealth.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Get-VisualStudioInstaller.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Generate-UninstallArgumentsString.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Generate-InstallArgumentsString.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Generate-AdminFile.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/ConvertTo-ArgumentString.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Convert-VSProductReferenceToChannelReference.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Close-VSInstallSource.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Clear-VSChannelCache.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/chocolatey-visualstudio.extension.psm1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Assert-VSInstallerUpdated.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Add-VisualStudioWorkload.ps1
src/wingetui/choco-cli/extensions/chocolatey-visualstudio/Add-VisualStudioComponent.ps1
src/wingetui/choco-cli/extensions/chocolatey-dotnetfx/Set-PowerShellExitCode.ps1
src/wingetui/choco-cli/extensions/chocolatey-dotnetfx/Install-ChocolateyInstallPackageAndHandleExitCode.ps1
src/wingetui/choco-cli/extensions/chocolatey-dotnetfx/Get-NativeInstallerExitCode.ps1
src/wingetui/choco-cli/extensions/chocolatey-dotnetfx/Get-DefaultChocolateyLocalFilePath.ps1
src/wingetui/choco-cli/extensions/chocolatey-dotnetfx/DotNetFrameworkHelpers.ps1
src/wingetui/choco-cli/extensions/chocolatey-dotnetfx/chocolatey-dotnetfx.psm1
