.vscode/
wingetui/__pycache__
wingetui/lang/__pycache__/*
wingetui/build/
wingetui/dist/
wingetui/winget-cli.1.2.0/
"WingetUI Store.exe"
WingetUI Store Installer.exe
WingetUI Installer.exe
WingetUI Store.exe
WingetUI.exe
installer.iss
Output/
*.old
vcredist.exe
wingetuiBin/
wingetui_bin/
wingetuiBin.zip
APIKEY.txt
*.pyc
WebBasedData/screenshot_database.xlsx
WebBasedData/screenshot-database.json.backup
wingetui/choco-cli/logs/choco.summary.log
wingetui/choco-cli/logs/chocolatey.log
*.log
wingetui/choco-cli/.chocolatey/Sudo.1.1.3/.arguments
wingetui/choco-cli/.chocolatey/Sudo.1.1.3/.files
wingetui/choco-cli/lib/Sudo/bin/sudo.vbs
wingetui/choco-cli/lib/Sudo/Sudo.nupkg
wingetui/choco-cli/lib/Sudo/bin/sudo.cmd
wingetui/choco-cli/bin/Sudo.exe
wingetui/choco-cli/lib/Sudo/Sudo.nuspec
wingetui/choco-cli/lib/Sudo/tools/chocolateyInstall.ps1
wingetui/choco-cli/lib/Sudo/tools/chocolateyUninstall.ps1
wingetui/wingettest.py
wingetui/choco-cli/lib-bad/elevenclock/tools/chocolateyuninstall.ps1
wingetui/choco-cli/lib-bad/elevenclock/elevenclock.nuspec
*.nupkg
wingetui/choco-cli/lib-bad/elevenclock/.chocolateyPending
wingetui/choco-cli/lib-bad/elevenclock/tools/chocolateyinstall.ps1
wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.files
wingetui/choco-cli/lib/elevenclock/tools/chocolateyuninstall.ps1
wingetui/choco-cli/lib/elevenclock/tools/chocolateyinstall.ps1
wingetui/choco-cli/lib/elevenclock/elevenclock.nuspec
wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.silentUninstaller
wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.registry
wingetui/choco-cli/.chocolatey/elevenclock.4.0.1/.arguments
