namespace UniGetUI.Services
{
    // This is an example file. Copy this to Secrets.cs and fill in your own values.
    internal static class Secrets
    {
        public const string GitHubClientId = "Iv23libnfvYqGI2ubBvI";
        public const string GitHubClientSecret = "YOUR_CLIENT_SECRET_HERE";
    }
}
