name: Tests and Build

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build:
    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Install winget
      uses: Cyberboss/install-winget@v1

    - name: Run Tests
      run: |
        cd src
        dotnet test -v q --nologo
        cd ..

    - name: Build solution
      run: |
        cd src
        dotnet publish -v q UniGetUI.sln /noLogo /restore:True /interactive:False
        exit $LASTEXITCODE