name: Translation integrity
on:
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.json'
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Test translations
      run: |
        python scripts/verify_translations.py
